page-about {
    ion-grid {
        height: 100%;
        justify-content: center;
    }

    
    .card-title {
        // position: absolute;
        // top: 36%;
        font-size:1.50em;
        width: 100%;
        font-weight: bold;
        color: #673AB7;
      }
    

}
